/* ===========================
   MAIN LAYOUT
=========================== */


.layout {

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:var(--bg-primary);

    color:var(--text-primary);

}





/* ===========================
   BODY
=========================== */


.layout-body {

    flex:1;

    width:100%;

    display:flex;

    align-items:stretch;

}





/* ===========================
   SIDEBAR
=========================== */


.layout-body aside {

    width:280px;

    flex-shrink:0;

    background:var(--bg-secondary);

    border-right:1px solid var(--border);

}





/* ===========================
   MAIN CONTENT
=========================== */


.layout-body main {

    flex:1;

    min-width:0;
    margin-top: 50px;

}





/* ===========================
   PAGE WRAPPER
=========================== */


.page-content {

    width:100%;

    min-height:100%;

}





/* ===========================
   NORMAL PAGES WITHOUT SIDEBAR
=========================== */


.layout-body > main:only-child {

    width:100%;

}





/* ===========================
   TABLET
=========================== */


@media(max-width:900px){


    .layout-body {

        flex-direction:column;

    }


    .layout-body aside {

        width:100%;

        border-right:none;

        border-bottom:1px solid var(--border);

    }


}





/* ===========================
   MOBILE
=========================== */


@media(max-width:600px){


    .layout-body aside {

        display:none;

    }


}