/* ===========================
   INFRASTRUCTURE SECTION
=========================== */


.infrastructure-section {

    width:100%;

    display:flex;

    flex-direction:column;

    gap:3rem;

}





/* ===========================
   MOBILE
=========================== */


@media(max-width:600px){


    .infrastructure-section {

        gap:2rem;

    }


}