.about-page{

width:100%;
overflow:hidden;

}


.about-header{

min-height:60vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

padding:120px 8%;

}


.about-header h1{

font-size:clamp(2.5rem,5vw,5rem);

margin-bottom:20px;

}


.about-header p{

max-width:700px;

font-size:1.2rem;

line-height:1.7;

opacity:.8;

}



.about-section{

padding:100px 8%;

}