.about-page {

    width:100%;

    overflow:hidden;

    background:var(--bg-primary);

}



.about-page .container {

    display:flex;

    flex-direction:column;

    gap:5rem;

}



@media(max-width:900px){

    .about-page .container {

        gap:4rem;

    }

}



@media(max-width:600px){

    .about-page .container {

        gap:3rem;

    }

}