.contributors-section{


    width:100%;


    display:flex;


    flex-direction:column;


    gap:3rem;


}






.contributors-grid{


    width:100%;


    display:grid;


    grid-template-columns:

    repeat(3,1fr);


    gap:2rem;


}







@media(max-width:1000px){


.contributors-grid{


    grid-template-columns:

    repeat(2,1fr);


}


}






@media(max-width:650px){


.contributors-grid{


    grid-template-columns:1fr;


}


}